@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}