

.container  {
    background-color: black;
    color: white;
}

.container .header {
    font-size: 20px;
    background-color: rgb(47, 162, 32);
}

.container .header h1 {
    padding: 40px;
    color: white;
    font: 50px Montserrat;
    text-shadow: 5px 5px 5px rgb(44, 140, 62);
    font-weight: bold;
    text-align: left;
}

.container .header a {
    display: none;
}

.container .gambar img {
    width: 100%;
}

.container .main {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.container .main h2 {
    font-size: 30px;
}

.container .main p,
h2 {
    margin-bottom: 20px;
}

.container .main .sidebar {
    border: 1px solid white;
    padding: 20px;
    box-sizing: border-box;
}

.container .main .sidebar img {
    width: 100px;
    float: left;
    margin: 10px;
}

.container .footer {
    background-color: rgb(138, 66, 66);
    color: white;
    padding: 30px;
    text-align: center;
}